body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.menu-toggle {
  display: none;
}

.logo {
  float: left;
}

.menu-links {
  float: right;
  display: flex;
}

@media screen and (max-width: 1000px) {
  .menu-toggle {
    display: block;
  }
  .menu-links {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .menu-links {
    display: flex;
  }
}